<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Charity | Teamplate</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/owl.carousel.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/slicknav.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/flaticon.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/progressbar_barfiller.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/gijgo.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/animate.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/animated-headline.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/magnific-popup.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/fontawesome-all.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/themify-icons.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/slick.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/nice-select.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.css')}}">
</head>
<body>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
   margin-left: auto;
  margin-right: auto;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


</style>

    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <img src="{{url_for('static',filename='assets/img/logo/logo.png')}}" alt="">
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                             <ul id="navigation">
                                                <li><a href="{{url_for('viewallcharities')}}">View Charities</a></li>
                                                <li><a href="{{url_for('viewallusers')}}">View Users</a></li>
                                                <li><a href="{{url_for('alldonations')}}">View Donations</a></li>
                                                <li><a href="{{url_for('adminlogout')}}">Logout </a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- header end -->
    <main>

    <!-- Our Cases Start -->
    <div class="our-cases-area section-padding30" style="padding-bottom: 370px;padding-top: 50px;">
        <div class="container" style="padding-left: 280px;">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <h2>Charity Information</h2>
                </div>
                <table style="width:100 px;">
                    <tr>
                        {% for i in cols %}
                        <th style="text-align:center;">{{ i }}</th>
                        {% endfor %}

                    </tr>

                    {% for i in rows %}
                    <tr>
                        {% for j in i %}
                        <td style="text-align:center;">{{ j }}</td>
                        {% endfor %}

                    </tr>
                        {% endfor %}
                    </table>
            </div>
        </div>
    </div>

    </main>
    </body>
</html>