<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mazda CX-9 - Checkout</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/style1.css')}}" />
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="card-details">>
               
            </div>
            <div class="checkout-text">
    
                <div class="back-to-home">
                    <a href="{{url_for('payment',usaname=usaname,v=v)}}">Back to </a>
                    <img src="https://img.icons8.com/sf-regular/48/aaaaaa/forward.png" alt="Arrow" height="15px" width="15px" />
                    <a href="">Payment</a>
                </div>

                <div class="pay-button">
                    <button>
                        <!--img src="https://img.icons8.com/ios-filled/50/FFFFFF/mac-os.png" alt="Apple-Pay" height="20px" width="20px" /-->
                        <span><a style="color: white;" href="{{url_for('scann',usaname=usaname,v=v)}}">UPI Payament</a></span>
                    </button>
                </div>

                <div class="or-line">
                    <p>Or pay with card</p>
                </div>
                <form class="form-contact contact_form" action="{{url_for('makedonate',usaname=usaname,v=v,amount=amount)}}" method="post" id="contactForm" novalidate="novalidate">
                <div class="card-details">
                    <label>Card details</label>
                    <div class="card-number">
                        <input name="usercardnumber" type="number" placeholder="4242 4242 4242 4242" />
                        <div>
                            <img src="https://img.icons8.com/color/48/000000/visa.png" height="20px" width="20px" />
                            <img src="https://img.icons8.com/color/48/000000/mastercard.png" height="20px" width="20px" />
                            <img src="https://img.icons8.com/color/48/000000/amex.png" height="20px" width="20px" />
                        </div>
                    </div>
                    <div class="card-info">
                        <div class="mm-yy">
                            <input name="expiredate" type="number" placeholder="MM / YY" />
                        </div>
                        <div class="cvc">
                            <input name="cvv" type="number" placeholder="CVC" />
                            <img src="https://img.icons8.com/ios/50/000000/card-verification-value.png" height="20px" width="20px" />
                        </div>
                    </div>
                </div>
    
                <div class="owner-name">
                    <label>Owner name</label>
                    <input name="Username" type="text" placeholder="John Doe" />
                </div>
    
                <div class="country-region">
                    <label>Country or region</label>
                    <select>
						<option>India</option>
                        <option>United States</option>
                        <option>Morocco</option>
                        <option>China</option>
                    </select>
                    <input type="number" placeholder="Zip code" />
                </div>
    
                <button class="buy-button">
                    Pay {{ amount }}
                </button>
    
            </div>
        </form>
        </div>
</body>
</html>